*.orig
*dttoolstempnunitproject.nunit
*.vspscc
*.vssscc
*.user
*.suo
*.gpState
*.resharper
Thumbs.db
obj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
.idea*/
_ReSharper*/
[Tt]est[Rr]esult*
*.dotCover
*.gitignoreme*

packages/
!repositories.config
UpgradeLog*.*
Backup/
_UpgradeReport_Files/
_NCrunch_*

*.favdoc
*.log
*.log.*
applicationhost.config
zhourui/v2/BugsManagement/.vs/config/applicationhost.config
zhourui/v1/BugsManagement/.vs/config/applicationhost.config

# Dependency directories
node_modules
jspm_packages
